* {
  color: darkcyan;
  outline: 1px solid darkgrey;
}

p {
  background-color: orange;
}

[data-category='caption'] {
  background-color: darkgrey;
}

[data-myText='paragraph' i] {
  color: hotpink;
  background-color: darkgray;
}

[data-myText='mediumparagraph' i] {
  background-color: lightblue;
}
